:root {
    --bg-color: #000000;
    --text-color: #fff;

    --doc-bg-color: rgba(125, 125, 125, 0.27);
    --doc-border-color: rgba(125, 125, 125, 0.3);
    --doc-border: 1px solid var(--doc-border-color);
    --doc-item-border-color: rgba(128, 128, 128, 0.45);
    --doc-item-color: #fff;
    --doc-item-hover-modifier: 8px;
    --doc-item-size: 40px;

    --menu-bar-bg-color: rgba(208, 208, 208, 0.85);
    --menu-bar-color: #000000;
    --menu-bar-hover-color: #444444;

    --background: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-size: cover;
    background-position: center;
}

/* --- Doc --- */
.doc {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) scale(1.05);
    background-color: var(--doc-bg-color);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5px;
    padding-inline: 6px;
    padding-bottom: 12px;
    width: fit-content;
    max-width: 90%;
    bottom: 6;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: var(--doc-border);
}

.doc ul {
    list-style: none;
    display: flex;
    padding-block: 1px;
    gap: 10px;
}

.doc-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.doc-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.doc-item img {
    width: var(--doc-item-size);
    height: var(--doc-item-size);
    display: block;
    border-radius: 12px;
    border: 1px solid var(--doc-item-border-color);
    transition:
        transform 0.66s ease-in-out,
        width 0.66s ease-in-out,
        height 0.66s ease-in-out;
    bottom: 0;
}

.doc-item img:hover {
    width: calc(var(--doc-item-size) + var(--doc-item-hover-modifier));
    height: calc(var(--doc-item-size) + var(--doc-item-hover-modifier));
    transform: translateY(calc(-1 * var(--doc-item-hover-modifier) / 2));
    transition: 0.25s ease-in-out;
}

.doc-link {
    color: var(--doc-item-color);
}

.doc-item .tooltip {
    visibility: hidden;
    position: absolute;
    top: calc(-25px - (var(--doc-item-hover-modifier) / 2));
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        top 0.15s ease-in-out;
}

.doc-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.launching img {
    animation: launch 0.8s ease-out;
}

@keyframes launch {
    0% {
        transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(-20px) scale(1.1);
    }
    50% {
        transform: translateY(0) scale(1);
    }
    75% {
        transform: translateY(-10px) scale(1.05);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.doc-item.open::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 4px;
}

/* --- Menu Bar --- */
.menu-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--menu-bar-bg-color);
    color: var(--menu-bar-color);
    transition-duration: 1s;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    padding-block: 1px;
    gap: 1px;
    color: var(--menu-bar-color);
}

.menu-bar a {
    color: var(--menu-bar-color);
    text-decoration: none;
    margin-inline: 10px;
    transition-duration: 1s;
}

.menu-bar.seperator {
    color: var(--doc-border-color);
}

.menu-bar a:hover {
    color: var(--menu-bar-hover-color);
    text-decoration: none;
    margin-inline: 10px;
}

.hidden {
    visibility: hidden;
}
